* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --GRAY-100: #f1f5f9;
  --GRAY-300: #cbd5e1;
  --GRAY-400: #94a3b8;
  --GRAY-800: #1e293b;
  --GRAY-700: #334155;
}

/* main section */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  min-height: 100vh;
}

/* Heading */

.title {
  text-align: center;
  cursor: default;
  font-weight: bolder;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: var(--GRAY-800);
  transition: color 0.2s ease-out;
}

.subtitle {
  cursor: default;
  font-weight: bolder;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--GRAY-800);
  transition: color 0.2s ease-out;
}

.text-transition {
  color: var(--GRAY-300);
}

/* Cards & Carousel */

.carousel-container {
  width: 100%;
  max-width: 80%;
  max-height: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card {
  height: 450px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: transparent;
  border-radius: 1rem;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
  gap: 12px;
  max-width: 20rem;
}

.card .banner {
  height: 16rem;
  width: 16rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.card .content {
  width: 100%;
  padding: 0 8px;
}

.card .content .subtitle {
  text-align: left;
}

.card .btn {
  width: 66.666%;
}

.thumbnail-container {
  height: 16rem;
  width: 16rem;
  overflow: hidden;
}

.thumbnail {
  width: 25%;
  height: 25%;
  margin: 5px;
  border-radius: 1rem;
}

/* Loading Components */

.loading-image {
  height: 16rem;
  width: 16rem;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loading 2s infinite;
}

.loading-text {
  width: 100%;
  position: relative;
  float: right;
  border-radius: 5px;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  margin-top: 10px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loading 2s infinite;
}

@keyframes loading {
  100% {
    background-position: -100% 0;
  }
}

/* Status */

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 100%;
}

.unknown {
  background-color: var(--GRAY-400);
}

.dead {
  background-color: red;
}

.alive {
  background-color: green;
}

/* Buttons & controls */

.btn {
  cursor: pointer;
  border: 1px solid var(--GRAY-400);
  background-color: white;
  color: var(--GRAY-800);
  font-weight: 800;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.btn:hover {
  background-color: var(--GRAY-100);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  cursor: pointer;
  background-color: var(--GRAY-300);
  color: var(--GRAY-800);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
}

.btn-right {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.btn-left {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.controls button:hover {
  background-color: var(--GRAY-400);
}
